[build]
  command = "pnpm run build"
  functions = "netlify/functions"
  publish = "dist/client"

[functions]
  external_node_modules = ["@tailwindcss/oxide", "lightningcss", "@babel/preset-typescript"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api"
  status = 200
